entrypoint = "main.py"
run = ["streamlit", "run", "main.py"]

modules = ["python-3.10"]

hidden = [".pythonlibs", ".streamlit"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["streamlit", "run", "--server.address", "0.0.0.0", "--server.enableWebsocketCompression=false", "--server.runOnSave=false", "main.py"]
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 8501
externalPort = 80
